/* Header Styling */
header {
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #444;
  background-color: #ffffff;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2.5em;
  margin: 0;
  font-family: 'Arial Black', sans-serif;
  letter-spacing: 1px;
}

header a {
  margin-top: 10px;
}

header a {
  color: #050505;
  text-decoration: none;
  margin: 0 15px;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  transition: color 0.3s;
}

header a:hover {
  color: #535353;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
}

/* Main Content Styling */
.project-info {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 5%;
  padding: 20px;
}

.project-overview, .additional-description {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.project-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center elements horizontally */
  gap: 20px;
}

/* Image Styling */
.project-image {
  width: 35%;
  height: auto;
  border-radius: 10px;
}

/* Skill Section Styling */

.skill-view{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content:space-around;
}


.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  width: 120px; /* Adjust the width to fit the image size */
  text-align: center;
}

.skill img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.skill img:hover {
  transform: scale(1.1);
}

/* Typography */
h2 {
  font-family: 'Arial Black', sans-serif;
  color: #333;
}

p {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

/* Colors */
body {
  background-color: #f6f6f0;
  color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
  .project-image {
      width: 100%;
  }

  .project-overview, .additional-description {
      padding: 10px;
  }

  .skill {
      flex-direction: column;
      align-items: center;
  }
}