body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: left;
    padding: 20px;
    border-bottom: solid;
  }
  
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-rows: auto; */
    gap: 20px;
    padding: 20px;
    position: relative;
    top: 15vh;
  }
  
  .logo-container {
    grid-row: 2 / 2; /* Center the logo in the middle column */
    grid-column: 2 / 2;
    text-align: center;
  }
  
  .logo {
    width: 150px; /* Adjust as needed */
  }
  
  .project-item {
    text-align: center;
  }
  
  .project-item img {
    width: 100%;
    height: auto;
  }
  
  .project-item h2 {
    margin-top: 10px;
  }

  /* Individual project gridding */

  #project-1{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
  

  #project-2{
    grid-column: 3 / 3;
    grid-row: 1 / 1;
  }

  #project-3{
    grid-column: 1 / 1;
    grid-row: 3 / 3;
  }

  #project-4{
    grid-column: 3 / 3;
    grid-row: 3 / 3;
  }